body {
    background-image: url('wallpaperflare.com_wallpaper\ \(2\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fill;
    margin: 0;
    padding: 0;
}