body {
    background-image: url("background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.profile-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px;
    text-align: center;
    animation: fadeInUp 0.8s ease forwards;
    opacity: 0;
    transition: 0.3s;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.profile-card:hover {
    transform: scale(1.05);
}
.profile-card h1 {
    color: rgb(255,215,0);
}
.profile-card p {
    color: rgb(255,215,0);
}
img[alt="me"] {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.contact-btn {
    padding: 12px 25px;
    border-radius: 12px;
    background: white;
    border: 1px solid rgba(255,255,255,0.4);
    color: rgb(26,101,169);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 0.3s;
}
.contact-btn:hover {
    background: rgba(20, 128, 0, 0.35);
    transform: translateY(-2px);
}