body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(158, 158, 158);
}
main {
  margin-left: 20px;
  margin-right: 20px;
}
header {
  text-align: center;
}
.navbar ul {
  list-style-type: none;
  background-color: black;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: rgb(141, 137, 137);
}
img[alt = "asukaLangley"] {
  width: 200px;
  height: 200px;
}